#pic1{

      width:120px;   
      height:120px;
      border-radius:12px;


} 
#name{
      font-family:Verdana;
      font-size:28px; 

}
#email{
       font-family:Verdana;
       font-size:16px;
}
#phone{
       font-family:Verdana;
       font-size:16px;
}
#p1{
    font-family: Segoe-ui;
    color:orange;
}   
#t1{
    border: 1px solid;
}
#t1, td{
   border: 1px solid;
   border-collapse:collapse; 
}

body {
   background-image: url("images/background.jfif");
   height: 100%;
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
